<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new post</title>
</head>
<body>
    <form method="post" action="/posts">
        <input placeholder="username" type="text" name="username"><br><br>
        <input placeholder="Write Post" type="text" name="content"><br><br> 
        <button>Add Post</button>
    </form>
</body>
</html>